@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/cal-sans/calSans-semiBold.woff2") format('woff2'), url("../fonts/cal-sans/calSans-semiBold.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

/*Null styles*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Poppins, sans-serif;
  color: #666666;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/*---------------------------------------------*/


.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/*Header section*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  // .header__container
  &__container {
    display: flex;
    gap: 131px;
    min-height: 152px;
    align-items: center;
    padding: 5px 0 5px 15px;
    @media (max-width: 1092px) {
      gap: 50px;
      min-height: 100px;
    }
    @media (max-width: 767.98px) {
      gap: 10px;
    }
  }

  // .header__logo
  &__logo {
    @media (max-width: 479.98px) {
      width: 40px;
      overflow: hidden;
    }
  }

  // .header__menu
  &__menu {
  }
}

.menu {
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  // .menu__list
  &__list {
    display: flex;
    gap: 56px;
    @media (max-width: 1092px) {
      gap: 40px;
    }
    @media (max-width: 767.98px) {
      gap: 10px;
    }
    @media (max-width: 479.98px) {
      gap: 20px;
    }
  }

  // .menu__item
  &__item {
  }

  // .menu__link
  &__link {
    color: rgba(18, 18, 18, 0.4);
    font-weight: 500;
  }
  &__link:hover {
    text-decoration: underline;
  }
}

/*----------------------------------------------------------------*/

.page {
  flex: 1 1 auto;
  // .page__main
  &__main {
  }
}

/*-------------------------------------------------------*/

.title {
  font-family: 'Cal Sans', sans-serif;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 600;
  color: #121212;
}

.title span {
  color: #FF6428;
}

/*-------------------------------------------------------*/

.main {
  padding: 0 0 80px 0;
  // .main__container
  &__container {
    display: flex;
  }

  // .main__content
  &__content {
    flex: 0 1 50%;
    align-self: flex-end;
    padding: 120px 20px 60px 0;
    @media (max-width: 1092px) {
      flex: 0 0 60%;
      padding: 120px 20px 0 0;
    }
    @media (max-width: 767.98px) {
      flex: 1 1 100%;
    }
  }

  // .main__title
  &__title {
    font-size: 56px;
    @media (max-width: 767.98px) {
      font-size: 54px;
    }
    @media (max-width: 533px) {
      font-size: 48px;
    }
    @media (max-width: 497px) {
      font-size: 45px;
    }
  }
  &__title:not(:last-child) {
    margin: 0 0 16px 0;
  }


  // .main__text
  &__text {
    max-width: 399px;
    font-weight: 500;
    line-height: 1.5;
  }

  &__text:not(:last-child) {
    margin: 0 0 33px 0;
  }

  // .main__actions
  &__actions {
    display: flex;
    align-items: center;
  }

  // .main__decor
  &__decor {
    flex: 0 1 50%;
    @media (max-width: 1092px) {
      flex: 0 0 40%;
    }
    @media (max-width: 688px) {
      display: none;
    }
  }
}

.actions-main {
  // .actions-main__button
  &__button {
    padding: 18px 48px;
    background-color: #FF6428;
    border-radius: 40px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    @media (max-width: 479.98px) {
      font-size: 12px;
      padding: 18px 30px;
    }
  }
  &__button:hover {
    background-color: #de5c2a;
  }
  &__button:not(:last-child) {
    margin: 0 40px 0 0;
  }

  // .actions-main__icon
  &__icon {
  }
  &__icon:not(:last-child) {
    margin: 0 28px 0 0;
  }
}

.decor-main {
  position: relative;
  margin: 0 -125px 0 0;
  padding: 72px 0 97.6% 0;


  // .decor-main__image
  &__image {
    position: absolute;
    max-width: 672px;
    border-radius: 0 0 160px 375px;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    }

  // .decor-main__img
  &__img {
    @media (max-width: 1092px) {
      width: 100%;
    }
  }
  &__image::after{
    content: '';
    background: url("../images/content/header/header-decoration-mini.png") 0 0 no-repeat;
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0;
    right: 36.3%;
    transform: translate(0, 50%);
  }
}


/*Store section*/

.page {
  // .page__store
  &__store {
  }
}

.store {
  padding: 150px 0 180px 0;
  // .store__container
  &__container {
  }

  // .store__title
  &__title {
    text-align: center;
    margin: 0 0 86px 0;
  }

  // .store__body
  &__body {
  }
}


.body-store {
  // .body-store__header
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 0 0 32px 0;
  }

  // .body-store__title
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    color: #121212;
    text-transform: uppercase;
  }

  // .body-store__all
  &__all {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #868686;
  }

  // .body-store__items
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 54px;
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 560px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .body-store__item
  &__item {
  }
}

.item {
  // .item__image
  &__image {

  }

  // .item__img
  &__img {
    max-width: 100%;
  }
  &__img:not(:last-child) {
    margin: 0 0 40px 0;
  }

  // .item__title
  &__title {
    font-weight: 500;
    color: #121212;
    line-height: 1.5;
    justify-self: start;
  }
  &__title:not(:last-child) {
    margin: 0 0 7px 0;
  }

  // .item__price
  &__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
  }
}


/*Categories section*/

.page {
  // .page__categories
  &__categories {
    margin: 0 0 220px 0;
  }
}


.categories {
  // .categories__container
  &__container {
  }

  // .categories__title
  &__title {
    text-align: center;
  }
  &__title:not(:last-child) {
    margin: 0 0 80px 0;
  }

  // .categories__items
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 69px;
    @media (max-width: 817px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 424px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .categories__item
  &__item {
    position: relative;
  }
}


.item-categories {
  position: relative;
  padding: 0 0 127% 0;
  // .item-categories__link
  &__link {
  }

  // .item-categories__img
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  // .item-categories__title
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    padding: 30px 20px;
    color: #FFFFFF;
    width: 100%;
  }
}


/*Footer section*/

.footer {
}
