@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/cal-sans/calSans-semiBold.woff2") format("woff2"), url("../fonts/cal-sans/calSans-semiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/*Null styles*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Poppins, sans-serif;
  color: #666666;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/*---------------------------------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  gap: 131px;
  min-height: 152px;
  align-items: center;
  padding: 5px 0 5px 15px;
}
@media (max-width: 1092px) {
  .header__container {
    gap: 50px;
    min-height: 100px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    gap: 10px;
  }
}
@media (max-width: 479.98px) {
  .header__logo {
    width: 40px;
    overflow: hidden;
  }
}
.menu {
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.menu__list {
  display: flex;
  gap: 56px;
}
@media (max-width: 1092px) {
  .menu__list {
    gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    gap: 10px;
  }
}
@media (max-width: 479.98px) {
  .menu__list {
    gap: 20px;
  }
}
.menu__link {
  color: rgba(18, 18, 18, 0.4);
  font-weight: 500;
}
.menu__link:hover {
  text-decoration: underline;
}

/*----------------------------------------------------------------*/
.page {
  flex: 1 1 auto;
}
.main {
  padding: 0 0 80px 0;
}
.main__container {
  display: flex;
}
.main__content {
  flex: 0 1 50%;
  align-self: flex-end;
  padding: 120px 20px 60px 0;
}
@media (max-width: 1092px) {
  .main__content {
    flex: 0 0 60%;
    padding: 120px 20px 0 0;
  }
}
@media (max-width: 767.98px) {
  .main__content {
    flex: 1 1 100%;
  }
}
.main__title {
  font-family: "Cal Sans", sans-serif;
  font-size: 56px;
  line-height: 1.2;
}
@media (max-width: 767.98px) {
  .main__title {
    font-size: 54px;
  }
}
@media (max-width: 533px) {
  .main__title {
    font-size: 48px;
  }
}
@media (max-width: 497px) {
  .main__title {
    font-size: 45px;
  }
}
.main__title:not(:last-child) {
  margin: 0 0 16px 0;
}
.main__text {
  max-width: 399px;
  font-weight: 500;
  line-height: 1.5;
}
.main__text:not(:last-child) {
  margin: 0 0 33px 0;
}
.main__actions {
  display: flex;
  align-items: center;
}
.main__decor {
  flex: 0 1 50%;
}
@media (max-width: 1092px) {
  .main__decor {
    flex: 0 0 40%;
  }
}
@media (max-width: 688px) {
  .main__decor {
    display: none;
  }
}

.title span {
  color: #FF6428;
}

.actions-main__button {
  padding: 18px 48px;
  background-color: #FF6428;
  border-radius: 40px;
  font-weight: 600;
  line-height: 1.5;
  color: #FFFFFF;
  transition: all 0.3s ease 0s;
}
@media (max-width: 479.98px) {
  .actions-main__button {
    font-size: 12px;
    padding: 18px 30px;
  }
}
.actions-main__button:hover {
  background-color: #de5c2a;
}
.actions-main__button:not(:last-child) {
  margin: 0 40px 0 0;
}
.actions-main__icon:not(:last-child) {
  margin: 0 28px 0 0;
}

.decor-main {
  position: relative;
  margin: 0 -125px 0 0;
  padding: 72px 0 97.6% 0;
}
.decor-main__image {
  position: absolute;
  max-width: 672px;
  border-radius: 0 0 160px 375px;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
@media (max-width: 1092px) {
  .decor-main__img {
    width: 100%;
  }
}
.decor-main__image::after {
  content: "";
  background: url("../images/content/header/header-decoration-mini.png") 0 0 no-repeat;
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 0;
  right: 36.3%;
  transform: translate(0, 50%);
}

/*# sourceMappingURL=index.css.map */
