@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/cal-sans/calSans-semiBold.woff2") format('woff2'), url("../fonts/cal-sans/calSans-semiBold.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

/*Null styles*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Poppins, sans-serif;
  color: #666666;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/*---------------------------------------------*/


.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/*Header section*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  // .header__container
  &__container {
    display: flex;
    gap: 131px;
    min-height: 152px;
    align-items: center;
    padding: 5px 0 5px 15px;
    @media (max-width: 1092px) {
      gap: 50px;
      min-height: 100px;
    }
    @media (max-width: 767.98px) {
      gap: 10px;
    }
  }

  // .header__logo
  &__logo {
    @media (max-width: 479.98px) {
      width: 40px;
      overflow: hidden;
    }
  }

  // .header__menu
  &__menu {
  }
}

.menu {
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  // .menu__list
  &__list {
    display: flex;
    gap: 56px;
    @media (max-width: 1092px) {
      gap: 40px;
    }
    @media (max-width: 767.98px) {
      gap: 10px;
    }
    @media (max-width: 479.98px) {
      gap: 20px;
    }
  }

  // .menu__item
  &__item {
  }

  // .menu__link
  &__link {
    color: rgba(18, 18, 18, 0.4);
    font-weight: 500;
  }
  &__link:hover {
    text-decoration: underline;
  }
}

/*----------------------------------------------------------------*/

.page {
  flex: 1 1 auto;
  // .page__main
  &__main {
  }
}

/*-------------------------------------------------------*/

.title {
  font-family: 'Cal Sans', sans-serif;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 600;
  color: #121212;
}

.title span {
  color: #FF6428;
}

/*-------------------------------------------------------*/

.main {
  padding: 0 0 80px 0;
  // .main__container
  &__container {
    display: flex;
  }

  // .main__content
  &__content {
    flex: 0 1 50%;
    align-self: flex-end;
    padding: 120px 20px 60px 0;
    @media (max-width: 1092px) {
      flex: 0 0 60%;
      padding: 120px 20px 0 0;
    }
    @media (max-width: 767.98px) {
      flex: 1 1 100%;
    }
  }

  // .main__title
  &__title {
    font-size: 56px;
    @media (max-width: 767.98px) {
      font-size: 54px;
    }
    @media (max-width: 533px) {
      font-size: 48px;
    }
    @media (max-width: 497px) {
      font-size: 45px;
    }
  }
  &__title:not(:last-child) {
    margin: 0 0 16px 0;
  }


  // .main__text
  &__text {
    max-width: 399px;
    font-weight: 500;
    line-height: 1.5;
  }

  &__text:not(:last-child) {
    margin: 0 0 33px 0;
  }

  // .main__actions
  &__actions {
    display: flex;
    align-items: center;
  }

  // .main__decor
  &__decor {
    flex: 0 1 50%;
    @media (max-width: 1092px) {
      flex: 0 0 40%;
    }
    @media (max-width: 688px) {
      display: none;
    }
  }
}

.actions-main {
  // .actions-main__button
  &__button {
    padding: 18px 48px;
    background-color: #FF6428;
    border-radius: 40px;
    font-weight: 600;
    line-height: 1.5;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    @media (max-width: 479.98px) {
      font-size: 12px;
      padding: 18px 30px;
    }
  }
  &__button:hover {
    background-color: #de5c2a;
  }
  &__button:not(:last-child) {
    margin: 0 40px 0 0;
  }

  // .actions-main__icon
  &__icon {
  }
  &__icon:not(:last-child) {
    margin: 0 28px 0 0;
  }
}

.decor-main {
  position: relative;
  margin: 0 -125px 0 0;
  padding: 72px 0 97.6% 0;


  // .decor-main__image
  &__image {
    position: absolute;
    max-width: 672px;
    border-radius: 0 0 160px 375px;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    }

  // .decor-main__img
  &__img {
    @media (max-width: 1092px) {
      width: 100%;
    }
  }
  &__image::after{
    content: '';
    background: url("../images/content/header/header-decoration-mini.png") 0 0 no-repeat;
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0;
    right: 36.3%;
    transform: translate(0, 50%);
  }
}


/*Store section*/

.page {
  // .page__store
  &__store {
  }
}

.store {
  padding: 150px 0 180px 0;
  // .store__container
  &__container {
  }

  // .store__title
  &__title {
    text-align: center;
    margin: 0 0 86px 0;
  }

  // .store__body
  &__body {
  }
}


.body-store {
  // .body-store__header
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 0 0 32px 0;
    @media (max-width: 560px) {
      justify-content: space-around;
    }
  }

  // .body-store__title
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    color: #121212;
    text-transform: uppercase;
  }

  // .body-store__all
  &__all {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #868686;
  }

  // .body-store__items
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 54px;
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 560px) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }

  // .body-store__item
  &__item {
  }
}

.item {
  // .item__image
  &__image {

  }

  // .item__img
  &__img {
    max-width: 100%;
  }
  &__img:not(:last-child) {
    margin: 0 0 40px 0;
  }

  // .item__title
  &__title {
    font-weight: 500;
    color: #121212;
    line-height: 1.5;
    justify-self: start;
  }
  &__title:not(:last-child) {
    margin: 0 0 7px 0;
  }

  // .item__price
  &__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
  }
}


/*Categories section*/

.page {
  // .page__categories
  &__categories {
    margin: 0 0 220px 0;
  }
}


.categories {
  // .categories__container
  &__container {
  }

  // .categories__title
  &__title {
    text-align: center;
  }
  &__title:not(:last-child) {
    margin: 0 0 80px 0;
  }

  // .categories__items
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 69px;
    @media (max-width: 817px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    @media (max-width: 424px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }

  // .categories__item
  &__item {
    position: relative;
  }
}


.item-categories {
  position: relative;
  padding: 0 0 127% 0;
  overflow: hidden;
  border-radius: 25px;
  // .item-categories__link
  &__link {
  }

  &__img:hover {
    transform: scale(1.1);
  }

  // .item-categories__img
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: all 0.3s ease 0s;
  }

  // .item-categories__title
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    padding: 30px 20px;
    color: #FFFFFF;
    width: 100%;
  }
}


/*Best brands*/

.page {
  // .page__brands
  &__brands {
    padding: 0 0 180px 0;
  }
}

.brands {
  // .brands__title
  &__title {

    text-align: center;
  }
  &__title:not(:last-child) {
    margin: 0 0 75px 0;
  }

    // .brands__items
  &__items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    gap: 117px 20px;
    align-items: center;
    @media (max-width: 767px) {
      grid-template-columns: repeat(3, auto);
    }
    @media (max-width: 488px) {
      grid-template-columns: repeat(2, auto);
      gap: 117px 5px;
    }
    @media (max-width: 340px) {
      gap: 117px 5px;
    }
  }
  // .brands__item
  &__item {
    width: 100%;
  }
}


/*Why try Rhytm?*/

.page {
  // .page__why
  &__why {
    background: #121212;
  }
}

.why {
  // .why__container
  &__container {
  }

  // .why__title
  &__title {
    color: #FFFFFF;
    text-align: center;
    padding: 93px 0 0 0;
  }
  &__title:not(:last-child) {
    margin: 0 0 75px 0;
  }

  // .why__items
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 0 20px;
    padding: 0 0 94px 0;
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 20px;
    }
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, auto);
      justify-items: stretch;
    }
  }
}

.items-why {

  // .items-why__item
  &__item {
    display: grid;
    justify-items: center;
    text-align: center;
  }

  // .items-why__icon
  &__icon {
    margin: 0 0 40px 0;

  }

  //// .items-why__img
  &__img {
    padding: 20px;
    background: #262626;
    border-radius: 20px;
  }

  // .items-why__title
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 12px 0;
    text-align: center;
  }

  // .items-why__text
  &__text {
    max-width: 230px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize;
    color: #666666;
  }
}


/*********************************************************************/

.page {
  // .page__customers
  &__customers {
  }
}

.customers {
  // .customers__container
  &__container {
  }

  // .customers__title
  &__title {
    text-align: center;
    padding: 240px 0 0 0;
  }
  &__title:not(:last-child) {
    margin: 0 0 109px 0;
  }

  // .customers__swiper
  &__swiper {
    margin: 0 0 50px 0;
  }
}

.title {
}

.swiper-customers {
  // .swiper-customers__wrapper
  &__wrapper {
  }

  // .swiper-customers__slide
  &__slide {
    display: flex;
    column-gap: 146px;
    justify-content: center;
    @media (max-width: 1228px) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .swiper-customers__pagination
  &__pagination {
  }
}

.swiper {
}

.swiper-wrapper {
}

.slide-swiper-customers {
  // .slide-swiper-customers__image
  &__picture {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
    position: relative;
    width: 320px;
    height: 320px;
    @media (max-width: 482px) {
      width: 270px;
      height: 270px;
    }
    @media (max-width: 247px) {
      width: 250px;
      height: 250px;
    }
  }
  &__image::before {
    content: "";
    position: absolute;
    width: 285px;
    height: 257px;
    top: 50px;
    left: -49px;
    background: #FF6428;
    border-radius: 40px 0 400px 400px;
    transform: rotate(-10deg);
    @media (max-width: 482px) {
      width: 255px;
      height: 220px;
    }
    @media (max-width: 427px) {
      width: 235px;
      height: 200px;
    }
  }


  // .slide-swiper-customers__img
  &__img {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  // .slide-swiper-customers__body
  &__body {
    flex: 0 1 50%;
  }

  // .slide-swiper-customers__text
  &__text {
    font-size: 24px;
    line-height: 160%;
  }
  &__text:not(:last-child) {
    margin: 0 0 56px 0;
  }

  // .slide-swiper-customers__author
  &__author {
  }

  // .slide-swiper-customers__name
  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
  }
  &__name:not(:last-child) {
    margin: 0 0 8px 0;
  }

  // .slide-swiper-customers__position
  &__position {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}

.swiper-slide {
}

.swiper-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  background: #C4C4C4;
  border-radius: 20px;
  align-items: center;
  width: 10px;
  height: 16px;
  padding: 0 12px 0 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 12px;
  height: 24px;
  background: #FF6428;
  border-radius: 20px;
  transform: rotate(-90deg);
  padding: 0 12px 0 0;
}


/*Favorite guitars section*/

.page {
  // .page__favorite
  &__favorite {
    margin: 0 0 120px 0;
  }
}

.favorite {
  // .favorite__container
  &__container {
    display: flex;
    align-items: center;
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }

  // .favorite__body
  &__body {
    flex: 0 1 50%;

  }

  // .favorite__title
  &__title {
    text-align: left;
    font-size: 47px;
    @media (max-width: 991.98px) {
      font-size: 38px;
    }
  }

  &__title:not(:last-child) {
    margin: 0 0 60px 0;
  }

  // .favorite__links
  &__links {
    display: flex;
    column-gap: 26px;
    @media (max-width: 991.98px) {
      justify-content: center;
    }
  }

  // .favorite__image
  &__image {
    flex: 0 1 50%;
    text-align: center;
  }

  // .favorite__img
  &__img {
    max-width: 100%;
  }
}

.title {
}

.links-favorite {
  // .links-favorite__item
  &__item {
  }
}


/*Footer section*/

.footer {
  background: #EEEEEE;
  // .footer__container
  &__container {
  }

  // .footer__body
  &__body {
    display: flex;
    gap: 30px;
  }

  // .footer__copy
  &__copy {
  }
}

.body-footer {
  // .body-footer__column
  &__column {
    flex: 0 1 33.333%;
  }

  // .body-footer__logo
  &__logo {
  }

  // .body-footer__contacts
  &__contacts {
  }

  // .body-footer__menu
  &__menu {
  }

  // .body-footer__social
  &__social {
  }
}

.contacts-footer {
  // .contacts-footer__item
  &__item {
  }

  // .contacts-footer__link
  &__link {
    // .contacts-footer__link_mail
    &_mail {
    }

    // .contacts-footer__link_location
    &_location {
    }
  }
}

.menu-footer {
  // .menu-footer__column
  &__column {
  }

  // .menu-footer__title
  &__title {
  }

  // .menu-footer__list
  &__list {
  }

  // .menu-footer__item
  &__item {
  }

  // .menu-footer__link
  &__link {
  }
}

.social-footer {
  // .social-footer__title
  &__title {
  }

  // .social-footer__items
  &__items {
  }

  // .social-footer__item
  &__item {
  }
}
